@value colors: '../../color.css';
@value grayColor, redColor, blackColor, whiteColor from colors;
.profile {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 500px;
  background-color: rgb(231, 228, 228);
  padding-top: 95px;
  border-radius: 5px;
}
.description {
  margin: 0 auto;
  width: 250px;
  height: 350px;
  background-color: whiteColor;
  border: solid 1px rgb(221, 216, 216);
}
.avatar {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  text-align: center;
  font-size: 28px;
  color: black;
}
.tag {
  text-align: center;
  color: grayColor;
}
.location {
  text-align: center;
  color: grayColor;
}
.stats {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 0 auto;
  width: 250px;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(240, 236, 236);
  border: solid 1px rgb(224, 222, 222);
  width: 83px;
}
.label {
  color: grayColor;
}
.quantity {
  font-size: 20px;
  color: blackColor;
}
